<div>
    <div class="wrap-component-title">
      <h1>
        <span>עריכת צוות המועדון</span>
      </h1>
    </div>
    <div>
      <div class="container">
        <form [formGroup]="editTeamForm" *ngIf="viewForm" class="group-form">
          <div class="col-md-12 col-lg-12 col-xl-12">
            <div class="flex-child col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <mat-form-field>
                <input matInput type="text" placeholder="שם" formControlName="name">
              </mat-form-field>
            </div>
            <div class="flex-child col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <mat-form-field>
                <input matInput type="text" placeholder="תפקיד" formControlName="position">
              </mat-form-field>
            </div>
            <div class="flex-child col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <mat-form-field>
                <input matInput type="text" placeholder="מיקום" formControlName="location">
              </mat-form-field>
            </div>
            <div class="flex-child col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <mat-form-field>
                <input matInput type="text" placeholder="מס' טלפון" formControlName="mobile_num">
              </mat-form-field>
            </div>
            <div class="flex-child col-xs-12 col-sm-12 col-md-6 col-lg-6 include-hint" >
                <mat-form-field>
                  <input matInput type="email" placeholder="מייל" formControlName="mail">
                  <mat-hint *ngIf="!editTeamForm.get('mail').valid && editTeamForm.get('mail').touched" style="font-size: 15px;line-height: 1em;color: red;">*Please insert valid email</mat-hint>
                </mat-form-field>
              </div>
            <div class="flex-child col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <mat-form-field matTooltip="{{fileInput.value}}" [hidden]="fileName.value == ''">
                    <input matInput #fileName placeholder="בחירת תמונה" value="{{fileInput.value}}">
                  </mat-form-field>
                <p>
                    <input [hidden]="true" type="file" name="Imgfile" (change)="onFileChange($event)" #fileInput>
    
                    <span class="button-submit">
                      <button mat-flat-button (click)="fileInput.click()">
                        <span>בחר תמונה</span>
                        <mat-icon>add_photo_alternate</mat-icon>
                      </button>
                    </span>
                    <span *ngIf="imgSrcForView != ''" class="wrap-img-add-edit">
                      <img src="data:{{imgTypeForView}};base64,{{imgSrcForView}}">
                    </span>
                    <span *ngIf="imgSrcForEditPreview != ''" class="wrap-img-add-edit">
                      <img src="{{imgSrcForEditPreview}}">
                    </span>
                  </p>
            </div>
          </div>
        </form>
      </div>
      <div class="button-submit">
        <button mat-flat-button (click)="onSubmit()" *ngIf="saveButton">שמור</button>
        <button mat-flat-button (click)="updateTeam()" *ngIf="!saveButton">לערוך</button>
        <mat-spinner *ngIf="spinner"></mat-spinner>
      </div>
      <div class=" container wrap-accordion">
        <mat-accordion class="example-headers-align achivContent accordion-element">
          <mat-expansion-panel id="team{{team.id_zevet}}" [expanded]="step === i" hideToggle
            *ngFor="let team of teams; let i = index;">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="titleMatPanel">{{team.name}}</span>
              </mat-panel-title>
              <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>
            <div class="wrap-buttons">
              <div class="edit-button" (click)="editTeam(team)">
                <button matTooltip="לערוך" mat-flat-button >לערוך</button>
              </div>
              <div class="delete-button" (click)="deleteTeam(team.id_zevet, team.img_src)">
                <button mat-flat-button matTooltip="למחוק">למחוק</button>
              </div>
            </div>
  
            <hr>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>