<div class="socIcons">
  <ul>
    <li matTooltip="facebook"><a
        href="https://www.facebook.com/pages/%D7%9E%D7%95%D7%A2%D7%93%D7%95%D7%9F-%D7%9B%D7%93%D7%95%D7%A8%D7%A1%D7%9C-%D7%92%D7%9C%D7%91%D7%95%D7%A2%D7%9E%D7%A2%D7%99%D7%99%D7%A0%D7%95%D7%AA/169121539812374"
        target="_blank"><i class="fa fa-facebook"></i></a></li>
    <li matTooltip="instagram"><a href="https://www.instagram.com/Gilboa_maayanot_basketball/" target="_blank"><i
          class="fa fa-instagram"></i></a></li>
    <li matTooltip="youtube"><a href="https://www.youtube.com/user/salhagilboachannel" target="_blank"><i
          class="fa fa-youtube"></i></a></li>
    <li matTooltip="twitter"><a href="/" target="_blank"><i class="fa fa-twitter"></i></a></li>
  </ul>
</div>
  