<footer class="footer">
  <div class="container">
    <div class="row section">
      <div class="footer-widget col-lg-4 col-md-6 col-xs-12">
        <h4 class="small-title"></h4>
        <div class="img-links">
          <div class="wrap-imgs">
            <div>
              <a href="http://www.hagilboa.org.il/" target="_blank">
                <img src="../../assets/img/logoG.png">
              </a>
            </div>
            <div>
              <a href="http://www.maianot.co.il/cgi-webaxy/item?index" target="_blank">
                <img src="../../assets/img/eh.png">
              </a>
            </div>
            <div>
              <a href="./" target="_blank">
                <img src="../../assets/img/4.jpg">
              </a>
            </div>
            <div>
              <a href="./" target="_blank">
                <img src="../../assets/img/logo-gilboa.png">
              </a>
            </div>
          </div>
          <div class="socIcons">
            <ul>
              <li><a
                  href="https://www.facebook.com/pages/%D7%9E%D7%95%D7%A2%D7%93%D7%95%D7%9F-%D7%9B%D7%93%D7%95%D7%A8%D7%A1%D7%9C-%D7%92%D7%9C%D7%91%D7%95%D7%A2%D7%9E%D7%A2%D7%99%D7%99%D7%A0%D7%95%D7%AA/169121539812374"
                  target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://www.instagram.com/Gilboa_maayanot_basketball/" target="_blank"><i
                    class="fa fa-instagram"></i></a></li>
              <li><a href="https://www.youtube.com/user/salhagilboachannel" target="_blank"><i
                    class="fa fa-youtube"></i></a></li>
              <li><a href="/" target="_blank"><i class="fa fa-twitter"></i></a></li>
            </ul>
          </div>
        </div>
      </div>


      <div class="footer-widget col-lg-4 col-md-6 col-xs-12" data-wow-delay=".2s">
        <h3 class="small-title"></h3>
        <ul class="menu">
          <li><a href="http://eh.amalnet.k12.il" target="_blank">ביה"ס הרב תחומי עמק חרוד</a></li>
          <li><a href="http://www.sakranut.co.il" target="_blank">מרכז למידה</a></li>
          <li><a href="http://ibasketball.co.il" target="_blank">אתר איגוד הכדורסל</a></li>
        </ul>
      </div>


      <!-- <div class="footer-widget col-lg-3 col-md-6 col-xs-12" data-wow-delay=".5s">
        <h3 class="small-title">
          קישורים
        </h3>
        <div class="plain-flicker-gallery">
          <a href="http://www.maianot.co.il/cgi-webaxy/item?index" target="_blank"><img src="assets/img/1.jpg"
              alt=""></a>
          <a href="https://www.instagram.com/Gilboa_maayanot_basketball/" target="_blank"><img src="assets/img/2.jpg"
              alt=""></a>
          <a href="/"><img src="assets/img/logo-gilboa.png" alt=""></a>
          <a href="/"><img src="assets/img/4.jpg" alt=""></a>
        </div>
      </div> -->



      <div class="footer-widget col-lg-4 col-md-6 col-xs-12" data-wow-delay=".8s">
        <h3 class="small-title"></h3>
        <div class="contact-us wrap-footer-form">
          <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
              <input type="text" matInput placeholder="username" formControlName="userName">
            </mat-form-field>
            <mat-form-field>
              <input type="password" matInput placeholder="password" formControlName="password">
            </mat-form-field>
            <p>
              <button mat-flat-button type="submit">כניסה</button>
            </p>
          </form>
        </div>
      </div>

    </div>

  </div>
  <hr>
  <div id="copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12">
          <p class="copyright-text">All copyrights reserved © 2019 - Designed &amp; Developed by <a rel="nofollow"
              href="/">Elena Eidelman</a>
          </p>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12">
          <ul class="nav nav-inline  justify-content-end ">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['contactus']">צור קשר</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/public/team']">צוות המועדון</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/public/wysiwyg/odothamoadon']">אודות המועדון</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" [routerLink]="['/public/wysiwyg/hazonhamoadon']">חזון המועדון</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>