.wrap-component{
    direction: rtl;
    margin: 0 !important;
}
.survey-div-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: url('/assets/img/img2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;

}

.survey-div-wrap > div{
    margin:10px;
    width: 48%;
    background: rgba(223, 199, 168, 0.7);
    color: #281e1e;
}
.surveyDiv{
    padding: 20px;
    font-size: 1.1em;
    font-weight: 600;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
    border-radius: 5px;
    margin: 5px 0;
}
.survey-button-wrap{
    width: 50%;
    margin: auto;
    margin: 20px auto;
}

.surveyDivTitle{
    margin-bottom: 2em;
}
.button{
    width: 100%;
    color: #fff;
    background: mediumseagreen;
}

.buttonClose{
    float: right;
    margin-top: 10px;
    background: lightgray;
}
.example-radio-group {
    display: flex;
    flex-direction: column;
  }
  
  .example-radio-button {
    margin: 5px;
    text-align: right;
  }
  
  .example-selected-value {
    margin: 15px 0;
  }

  @media screen and (max-width: 1024px){
    .survey-div-wrap > div{
        width: 100%;
        font-size: 15px;
      }
      .surveyDivTitle{
          margin-bottom: 1em;
      }
  }