.wrap-accordion{
    margin-top:4em;
}
.wrap-form{

    margin-top: 10px;
    box-shadow: 0 0 10px  rgba(0,0,0,0.5);
}
.wrap-component-title{
    margin: 7rem 0 6rem 0;
}
.wrap-input{
    padding: 30px 20px;
}
.button-submit > button{
    background: tomato;
    color: #fff;
}
.button-submit{
    margin: 30px 20px;
    display: block;
}
.pagination{
    text-align: center;
    display: flex;
    justify-content: center;
}
.pagination{
    text-align: center;
    display: flex;
    justify-content: center;
}
.form-group{
    justify-content: space-around;
    text-align: left;
}
.wrap-img-add-edit img{
    width: 250px;
    height: auto;
    padding: 2rem;
    border: 1px solid #DFDFDF;
    border-radius: 5p
}
.editPostForm{
    padding-bottom: 5px;
}
.edit-block{
    display: flex;
}
.spinnerUploadImg{
    top: -4em;
    margin: auto;
}
@media screen and (max-width:1024px){
    .wrap-accordion mat-expansion-panel-header{
        height: 100% !important;
    }
}