.button-submit > button{
    background: tomato;
    color: #fff;
}
.button-select > button{
    background: lightslategrey;
    color :#fff;
}
.wrap-img-add-edit img{
    width: 250px;
    height: auto;
    padding: 2rem;
    border: 1px solid #DFDFDF;
    border-radius: 5p
}



mat-spinner{
    top: -94%;
    left: 45%;
    position: absolute;
    z-index: 9999999;
  }

.wrap-accordion{
      margin-top:4em;
  }
.edit-button,.delete-button{
    margin: 10px;
    width:100%;
    text-align:center;
}
.edit-button > button{
    color: #fff;
    background: mediumseagreen;
}
.button-submit{
    position: relative;
    margin:20px;
}
.wrap-buttons{
    display: flex;
}
.delete-button > button, .left > button{
    color: #fff;
    background: red;
}
mat-form-field{
    width:100%;
}
.flex-form-wrap{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.flex-child{
    width:50%;
    margin: auto;
}

.wrap-birthday-list{
    padding: 10px;
    font-size: 17px;
}

@media screen and (max-width: 104px){

}