<div>
  <div class="left-button" (click)="deleteDiary()">
    <button mat-flat-button matTooltip="Delete">Delete this calendar</button>
  </div>
  <div class="wrap-component-title">
    <h1>
      <span *ngIf="label != ''">{{label}}</span>
    </h1>
  </div>
  <form [formGroup]="diaryForm">
    <div class="wrap-title">
      <mat-form-field>
        <input matInput type="text" placeholder="Calendar hebrew title" formControlName="diaryTitle">
      </mat-form-field>
    </div>
    <div class="wrap-input">
      <mat-form-field>
        <input matInput type="text" placeholder="Calendar Link" formControlName="diaryLink">
      </mat-form-field>
    </div>
  </form>
  <div class="button-submit">
    <button mat-flat-button (click)="saveDiary()" *ngIf="saveButton">Save</button>
    <button mat-flat-button (click)="updateDiary()" *ngIf="!saveButton">Edit</button>
    <mat-spinner *ngIf="spinner"></mat-spinner>
  </div>

  <div class="iframe" *ngIf="diary">
    <iframe width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen
      [src]="diary.src | safe :'resourceUrl'"></iframe>
  </div>
</div>