.mat-dialog-container{
    direction: rtl;
}
.mat-dialog-content{
    font-size: 2rem;
}
.mat-dialog-actions >.yes{
    background: mediumseagreen;
    color: #fff;
}
.mat-dialog-actions >.no{
    background: red;
    color: #fff;
}