<div class="example-container">
  <h2>{{data.title}}</h2>
  <form [formGroup] = "addNewMenu" (ngSubmit)="onSubmit()" *ngIf="showForm">
      <hr>
    <p>
        <mat-form-field>
            <input matInput placeholder="English title" formControlName="engLbl">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput placeholder="Hebrew title" formControlName="hebLbl">
        </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-select placeholder="Type of menu" formControlName="selectedType" [(value)]="selected">
            <mat-option *ngFor="let type of typesOfMenu" value="{{type.heblbl}}">{{type.heblbl}}</mat-option>
        </mat-select>
        </mat-form-field>
    </p>
    <p style="position: relative">
        <mat-spinner *ngIf="spinner"></mat-spinner>
        <button mat-flat-button type="submit">שמור</button>
    </p>
  </form>
</div>
<button mat-flat-button class="close" mat-dialog-close>סגור</button>
  