.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  button{
    background: mediumseagreen;
    color: #fff;
    width: 100%;
}
button.close{
    width: 74px;
    background: gray;
}
mat-spinner{
    top: -125%;
    left: 40%;
    position: absolute;
    z-index: 9999999;
  }
  .popupText{
    color: #3CB371;
    font-weight: 500;
    display:block;
    padding-bottom: 10px;
  }
  .popupError{
    font-weight: 500;
    padding-bottom: 10px;
    color: red;
    display: block;
  }
  button.close{
    background: gray;
    font-size: 1.2rem;
    cursor: pointer;
  }