<div class="container">
  <div class="wrap-component-title">
    <h1>
      <span> Add new survey</span>
    </h1>
  </div>
  <div class="wrap-form">
      <form [formGroup]="surveyForm" *ngIf="viewForm">
          <div class="wrap-input">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Survey question" formControlName="title">
            </mat-form-field>
            <div></div>
          </div>
          <div formArrayName="options">
              <div class="wrap-input" *ngFor="let opt of surveyOptions.controls; let i = index" [formGroupName]="i">
                  <div class="second-child">
                      <button mat-icon-button (click)="deleteOption(i)">
                        <mat-icon>exposure_neg_1</mat-icon>
                      </button>
                  </div>
                  <mat-form-field class="example-full-width" class="first-child">
                      <input matInput placeholder="option" formControlName="option">
                    </mat-form-field>
                </div>
          </div>
          <div class="button-add-one">
              <button mat-button (click)="addOption()">
                  <mat-icon>exposure_plus_1</mat-icon>
              </button>
            </div>
          <div class="button-submit">
            <button mat-button (click)="saveSurvey()">Save</button>
          </div>
        </form>
  </div>
</div>