app-postid{
    direction:rtl;
}
.section-title{
    direction: rtl;
    margin-top: 1em;
    margin-bottom: 1em;
}
.postTimeDate{
    text-align: center;
    margin-bottom: 1em;
}
.wrap-img-title{
    position: relative;
}
.postText{

}
.postIdContent{
    text-align: right;
    direction: rtl;
}
.mat-button{
    background: #D0212C;
    color: #fff;
    margin: 10px 0px 20px;
}
.imgTitle{
    width: 100%;
    background: rgba(0,0,0,0.5);
    color: #fff;
    display: block;
    position: relative;
    height: 60px;
    bottom: 0px;
    right: 0px;
    font-size: 1.5em;
    padding: 8px;
    line-height: 40px;
    text-align: center;
}
.wrap-img > img{
    margin-bottom: -60px;
}