.paginationUL> li{
    display: inline-block;
    background-color: #fff;
    margin-left:-1px;
    padding: 10px 15px;
    border:1px solid #ddd;
    cursor: pointer;
}

.paginationUL> li.active{
    background-color: #9d898a;
    color: #fff;
    padding: 17px 3px !important;
}
.paginationUL> li.disabled{
    background-color: #ddd;
    cursor: pointer;
}
@media screen and (max-width: 1048px){
    .paginationUL > li{
        padding: 11px;
    }
    .paginationUL> li.active{
        background-color: #9d898a;
        color: #fff;
        padding: 14px;
    }
    li{
        font-size: 17px;
    }
}