<div>
    <div class="wrap-component-title">
            <h1>
                <span>הזנה חופשית</span>
            </h1>
    </div>
    <div class="container">
        <div>
            <form *ngIf="viewForm" [formGroup]="editForm">
                <div class="form-group">
                    <input [hidden]="true" type="file" (change)="onFileChange($event)" #fileInput>
                    <span class="button-submit">
                        <button mat-flat-button (click)="fileInput.click()">בחר תמונה <mat-icon>add_photo_alternate</mat-icon></button>
                    </span>
                    <mat-form-field>
                        <input matInput #fileName placeholder="קישור לתמונה הנבחרת" matTooltip="{{fileName.value}}" value="{{fileInput.value}}">
                    </mat-form-field>
                    <div *ngIf="imgSrcForView != ''" class="wrap-img-add-edit">
                        <img src="data:{{imgTypeForView}};base64,{{imgSrcForView}}" >
                    </div>
                    <!-- <div class="button-submit">
                        <button type="button" class="btn btn-sm btn-default" (click)="clearFile()">clear file</button>
                    </div> -->
                </div>
                <ckeditor formControlName="editor"></ckeditor>
                <div class="flex_button">
                    <div class="button-delete">
                        <button mat-flat-button (click)="deleteWYSIWYG()">מחק</button>
                        <mat-spinner *ngIf="spinnerDelete"></mat-spinner>
                    </div>
                    <div class="button-submit edit_block">
                        <button mat-flat-button (click)="onSubmit()" *ngIf="saveButton">שמור</button>
                        <button mat-flat-button (click)="updateWYSIWYG()" *ngIf="!saveButton">לערוך</button>
                        <mat-spinner *ngIf="spinner" class="spinner"></mat-spinner>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

