<div>
  <div class="wrap-component-title">
    <h1>
      <span>עריכת מבזקים</span>
    </h1>
  </div>
  <div>
    <div class="container">
      <form [formGroup]="editNewsForm" *ngIf="viewForm" class="group-form">
        <div class="flex-form-wrap">
          <div class="flex-child">
            <mat-form-field>
              <input matInput type="text" placeholder="כותרת" formControlName="title">
            </mat-form-field>
          </div>
          <div class="flex-child">
            <mat-form-field>
              <textarea matInput placeholder="תיאור המבזק" formControlName="description" style="line-height:2em"></textarea>
            </mat-form-field>
          </div>
          <div class="flex-child">
            <mat-form-field matTooltip="{{fileInput.value}}" [hidden]="fileName.value == ''">
              <input matInput #fileName placeholder="תמונה נבחרת" value="{{fileInput.value}}">
            </mat-form-field>
            <p>
              <input [hidden]="true" type="file" name="Imgfile" (change)="onFileChange($event)" #fileInput>

              <span class="button-img">
                <span class="button-select">
                  <button mat-flat-button (click)="fileInput.click()">
                    {{imgButtonTitle}}
                    <mat-icon>add_photo_alternate</mat-icon>
                  </button>
                </span>
                <span *ngIf="imgSrcForView != ''" class="wrap-img-add-edit">
                  <img src="data:{{imgTypeForView}};base64,{{imgSrcForView}}">
                </span>
              </span>
            </p>
          </div>
        </div>
      </form>
    </div>
    <div class="button-submit">
      <button mat-flat-button (click)="onSubmit()" *ngIf="saveButton">שמור</button>
      <button mat-flat-button (click)="updateNews()" *ngIf="!saveButton">לערוך</button>
      <mat-spinner *ngIf="spinner"></mat-spinner>
    </div>
    <div class=" container wrap-accordion">
      <mat-accordion class="example-headers-align achivContent">
        <mat-expansion-panel id="news{{newsElement.id}}" [expanded]="step === i" hideToggle
          *ngFor="let newsElement of news; let i = index;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="titleMatPanel">{{newsElement.title}}</span>
            </mat-panel-title>
            <mat-panel-description></mat-panel-description>
          </mat-expansion-panel-header>
          <div class="wrap-buttons">
            <div class="edit-button" (click)="editNews(newsElement)">
              <button matTooltip="לערוך" mat-flat-button >לערוך</button>
            </div>
            <div class="delete-button" (click)="deleteNews(newsElement.id)">
              <button matTooltip="לערוך" mat-flat-button >למחוק</button>
            </div>
          </div>

          <hr>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>