<div>
    <form [formGroup]="dateFromTo">
      <div class="flex-form-wrap">
          <div class="flex-child dateFromToWrap">
                <div>
                  <mat-form-field>
                    <mat-label>עד</mat-label>
                    <input matInput [matDatepicker]="picker2" formControlName="dateTo" (dateChange)="dateHasChanged('change', $event)">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field>
                    <mat-label>מ-</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dateFrom" (dateChange)="dateHasChanged('change', $event)">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div>
                  <button mat-button (click)="newExcelSearch()">חפש</button>
                </div>
   
          </div>
      </div>
    </form>
    <button 
    mat-flat-button (click)="exportToExcel()" 
    [matTooltip]="excelTooltip"
    matTooltipClass="tooltipclass"
    [disabled]="disableButton || (publicKey == undefined && calendarId == undefined)">
      <mat-icon>description</mat-icon>
      Export as Excel
  </button>
  <mat-spinner *ngIf="spinner"></mat-spinner>
</div>
