button{
    color: white;
    background: green;
}

.tooltipclass{
    font-size: 18px;
}
mat-spinner{
    margin: auto;
    position: relative;
    top: -60px;
}

button :hover{
    cursor: pointer;
}
.dateFromToWrap{
    display: flex;
    justify-content: center;
}
.dateFromToWrap > div{
    margin: 10px 15px
}
.dateFromToWrap > div:last-child button{
    background: #aeabab;
}
