.wrap-content{
    /* display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 20px 0 */
}
mat-spinner{
    top: -7rem;
    margin: auto;
}
.posts{
    background: linear-gradient(transparent,#F5ECED);
}
.post-element{
    display: flex;
    justify-content: space-between;
    width: calc((100% / 3) - 1rem);
    margin: 1rem 0;
    flex-direction: column-reverse !important;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    background: #f1eeee;
}
.post-title-time-wrap{
    display: flex;
    background: #f1eeee;
    padding: 1rem;
}
.post-content{
    text-align: right;
    padding: 1rem;
    direction: rtl;
}

.wrap-post-element{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
}
.posts-wrap{
  background: url('../../assets/img/new2Header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  
}
.wrap-content-child{
    width:48%;
    position: relative;
}
.imgChild{
    box-shadow: 0 0 9px 5px #c5b7b9;
}
.wrap-content-child.imgChild{
    margin: auto;

}

.imgTitle{
    width: 100%;
    background: rgba(0,0,0,0.5);
    color: #fff;
    display: block;
    position: relative;
    height: 40px;
    bottom: 40px;
    font-size: 1em;
    padding: 8px;
    direction: rtl;
}
.flex-title{
    display: flex;
    justify-content: space-between;
    height: inherit;
}
.content-title{
    font-weight: bold;
    direction: rtl;
}
.post-time{
    /* color: grey;
    font-weight: 500; */
    color: rgba(0,0,0,.54);
    font-weight: 500;
    text-shadow: 0px 0px 8px #fff;
    padding: 0 8px;
    line-height: normal;
    margin: auto 0;
}
.content > p.content-title{
    margin-top: 1.5rem;
}
.post-title{
    flex: auto;
    font-size: 18px;
    font-weight: 700;
    text-decoration: underline;
    display: flex;
    direction: rtl;
}
.post-title > span{
    margin-left: auto;
    margin-right: 1rem;
}
.pagination{
    text-align: center;
    display: flex;
    justify-content: center;
}
li:hover,a:hover{
    cursor: pointer;
}
.mat-stepper-horizontal, .mat-stepper-vertical{
    background-color: #fff;
}
.button{
    background: #D0212C;
    color: #fff;
    margin: 10px 0px 20px;
}
.mat-stepper-bckgr{
    background: rgba(149, 135, 140,0.3);
}

@media screen and (max-width:1023px){

    .mat-stepper-bckgr{
        margin-top: 30px;
    }
    .wrap-content{
        flex-direction: column-reverse;
    }
    .wrap-content-child{
        width: 100%;
    }
    .post-title{
        font-size: 15px;
    }
    .posts-wrap{
        padding-top: 9em;
        height: 100%;
    }
    .wrap-post-element{
        flex-direction: column;
    }
    .post-element{
        width:100%;
    }
}