.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24)
}

.sidenav .mat-toolbar {
  background: inherit;
}
mat-list{
  direction:rtl;
}
.mat-toolbar.mat-primary {
  /* position: sticky; */
  position: fixed;
  top: 0;
  z-index: 1;
  background: #D0212C;
}
.hidden{
  display: none;
}
.spacer{
  flex: 1 1 auto;
}
mat-toolbar{
  justify-content: space-around;
}
.mobile-logo img {
  margin-top: 95px;
}

@media screen and (max-width:1023px){
  .mobile-logo{
    width: 100%;
    text-align: left;
  }
  .mobile-logo img {
    width:75px;
    margin-top: 15px;
  }
}

