

.mat-drawer-container {
  background-color: #fff;
  color: #404040 !important;
}
.mat-list, .mat-nav-list, .mat-selection-list{
  padding-top:0px !important;
}
body .ui-menubar{
  background-color: transparent;
  border: none;
}
body .ui-menubar .ui-submenu-list li a  span.ui-menuitem-text{
  color:#000000 !important;
}
a.ng-tns-c13-2 > span.ui-menuitem-text{
  color:#444 !important;
}
.content-text > p{
  margin:10px 0;
  text-align: right;
  direction: rtl;
}
.mat-vertical-content-container{
  margin-left: 0px !important;
  margin-right: 12px !important;
  text-align: right;
  margin-bottom: 15px;
}
.mat-vertical-content{
  padding: 0px 10px!important;
}
/* .mat-stepper-bckgr > div.mat-step{
  background: rgba(149, 135, 140,0.3);
} */
.mat-stepper-vertical-line::before{
  right: 0px !important;
  left: initial !important;
  width:0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgba(208, 33, 44, .70);
  border-left-width: 0px !important;
}
.mat-step-header{
  height: 72px !important;
}
.mat-vertical-stepper-header{
  padding: 5px !important;
}
.mat-step-header .mat-step-label.mat-step-label-active{
  height: 72px;
  line-height: 5;
  width: 100%;
  text-align: right;
  background: rgba(149, 135, 140,0.8);
}
.mat-step-header.cdk-keyboard-focused, .mat-step-header.cdk-program-focused, .mat-step-header:hover{
  background-color: transparent; 
}
.mat-step-label{
  border-radius: 5px;
}

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit{
  background-color: #D0212C !important;
}
.mat-step-header .mat-step-icon{
  background-color: rgba(208, 33, 44, 0.5);
}
.mat-vertical-stepper-header .mat-step-icon{
  margin-right: 0px !important;
  margin-left:4px;
}
.mat-step-header{
  direction:rtl !important;
}
.mat-tab-labels{
  background: #f3efef;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-ba{
  background-color: tomato !important;
}
.mat-tab-label, .mat-tab-link{
  color:#444 !important;
}
.mat-tab-header-pagination-chevron{
  height:15px !important;
  width:15px !important;
  border-color: #D0212C !important;
}
.ui-submenu > ul > li > a > span.ui-submenu-icon{
  color: #404040;
}
body .ui-menu .ui-menuitem-link .ui-menuitem-text, body .ui-menubar .ui-menuitem-link .ui-menuitem-text, body .ui-tieredmenu .ui-menuitem-link .ui-menuitem-text, body .ui-contextmenu .ui-menuitem-link .ui-menuitem-text, body .ui-megamenu .ui-menuitem-link .ui-menuitem-text, body .ui-slidemenu .ui-menuitem-link .ui-menuitem-text{
  color: #fff;
}

/*my code*/
html, body{
  height: 100%;
  font-size: 15px;
}
/* input{
  height:20px;
} */


p-menubarsub > ul{
  text-align:right;

}
p-menubarsub > ul > li > a > span.pi-caret-right:before {
  content: "\e904" !important;
}
.ng-star-inserted{
  text-align: center;
  flex-direction: row-reverse !important;
}
.ng-star-inserted > a{
  padding: 10px 15px !important;
}
.ng-star-inserted-arrow > a{
  padding: 10px 9px !important;
}
.paginationUL > li{
  padding: 10px 0px !important;
}
.plain-container{
  display: block !important;
}
div.plain-container img.ng-star-inserted{
  width: auto !important;
  height: 150px !important;
  margin: 10px !important;
  border: 6px double red;
 }
 .main-image-container #current-figure figcaption{
   font-size: 2rem;
 }
 .main-image-container #current-figure > #current-image{
   width: 100%;
 }
 img.ng-star-inserted:hover{
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.6);
 }
 
 .example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

h1 > span, h4 > span{
  border-top: 1px solid #494949;
  border-bottom: 1px solid #494949;
  padding: 1rem;
}
.wrap-component-title{
  margin: 7rem 0 6rem 0;
  text-align: center;
}
.wrap-all-component{
  margin-top: 15vh;
}
.title{
  color: #D0212C;
  font-size: 2em;
  font-family: 'Reforma-Medium', arial;
  font-weight: 700;
  margin-bottom: 25px;
}
.titleDialog{
  color: #D0212C;
  font-size: 1.5em;
  font-family: 'Reforma-Medium', arial;
  font-weight: 700;
  margin-bottom: 15px;
}
.mat-radio-label{
  white-space:normal !important;
}
.mat-radio-label-content{
  font-size: 1.5em;
  padding: 10px 15px !important;
}
.wrap-component{
  margin: 6rem auto;
}
mat-dialog-container{
  direction: rtl;
}
.mat-expansion-panel-header, .mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover {
  background: linear-gradient(70deg, #a3a9ae, transparent,#d2d7db);
}
.mat-card-avatar{
  height: 45px !important;
  width: 45px !important;
  border-radius: 0% !important;
}
.mat-progress-spinner circle, .mat-spinner circle{
  stroke: darksalmon;
}
.ui-menuitem-link:hover{
  cursor: pointer;
}
.mat-expansion-panel{
  margin:5px 0 !important;
}
.mat-expansion-panel-header{
  min-height: 49px !important;
}
.mat-expansion-panel-header-description{
  font-size: 1.3em;
}
.mat-expansion-panel-header, .mat-expansion-panel-body{
  direction: rtl;
}
.ng-star-inserted{
  
}
.mat-expansion-panel-body > div.ng-star-inserted > a{
  font-size: 1.3em;
  line-height: 2em;
}
.hugContent .mat-expansion-panel-body, .achivContent .mat-expansion-panel-body{
  text-align: right;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,1), 0 2px 2px 0 rgba(0,0,0,1), 0 1px 5px 0 rgba(0,0,0,0.5)
}
.wrap-img{
  flex: 1 1 auto;
  padding: 2rem;
  border: 1px solid #DFDFDF;
  border-radius: 5px;
}
.hugContent .mat-expansion-panel-header{
  color:rgba(0,0,0,.54);
}
.hugContent .mat-expansion-panel-header-title{
  font-size: 1.2em;
  color:rgba(0,0,0,.54);
}
p-menubar>div.ui-menubar>p-menubarsub>ul>li.ui-menu-parent>p-menubarsub>ul>li.ui-menu-parent>p-menubarsub>ul{
  right: 174px;
}
.birthdayHeight div.mat-card-header-text{
  width: 100%;
  text-align:center;
}
.marquee {
  top: 6em;
  position: relative;
  box-sizing: border-box;
  animation: marquee 15s linear infinite;
}

.marquee:hover {
  animation-play-state: paused;
}

/* Make it move! */
@keyframes marquee {
  0%   { -webkit-transform: translate(0, 0); }
  100% { -webkit-transform: translate(0, -100%); }
}


/*marquee left*/

.marqueeLeft {
  height: 25px;
  width: 100%;

  overflow: hidden;
  position: relative;
}

.marqueeLeft div {
  display: block;
  width: 200%;
  height: 30px;

  position: absolute;
  overflow: hidden;

  animation: marqueeLeft 15s linear infinite;
}

.marqueeLeft span {
  float: left;
  width: 50%;
}

@keyframes marqueeLeft {
  0% { left: 0; }
  100% { left: -100%; }
}
/***/

#birthdayHeight > .mat-card-content{
  overflow: hidden;
}

.adminSidenav .mat-drawer-content{
  height: -webkit-fill-available;
}
.mat-drawer-content{
  position: unset !important;
  overflow: unset;
}

.wrap-edit-component{
  /* height: 100vh; */
  min-height: 450px;
  height: 100%;
  background: #fff;
  padding-bottom: 20px;
}

@media screen and (min-width: 1024px){
  
  .wrap-edit-component{
    width: calc(100% - 250px);
    float: right;
  }
  app-admindasboard mat-sidenav-content{
    background: #404040
  }
}
.cursor{
  cursor: pointer;
}
.mat-form-field{
  text-align: right !important;
}
.section-title {
  color: #585b60;
  font-size: 38px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 48px;
  padding: 0 10px;
  position: relative;
}
.mat-dialog-actions{
  justify-content: space-between;
}
.mat-toolbar.mat-primary{
  box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
}
mat-tree{
  box-shadow: 5px 0px 5px -5px rgba(0,0,0,0.9), inset 0 5px 10px -5px rgba(0,0,0,0.6);
}
.underline-decoration{
  text-decoration-line: underline;
}
.editPostForm .mat-form-field-infix, .editPostForm ckeditor, .editPostForm .mat-form-field{
  width:100%;
}
.mat-option-text {
  font-size: 16px;
  text-align: right;
}

mat-sidenav.mat-drawer{
  min-width:170px;
}
body .ui-menu .ui-menuitem-link:hover, body .ui-menubar .ui-menuitem-link:hover, body .ui-tieredmenu .ui-menuitem-link:hover, body .ui-contextmenu .ui-menuitem-link:hover, body .ui-megamenu .ui-menuitem-link:hover, body .ui-slidemenu .ui-menuitem-link:hover{
  background-color: transparent; 
}
body .ui-menu .ui-menuitem-link:hover .ui-menuitem-text, body .ui-menubar .ui-menuitem-link:hover .ui-menuitem-text, body .ui-tieredmenu .ui-menuitem-link:hover .ui-menuitem-text, body .ui-contextmenu .ui-menuitem-link:hover .ui-menuitem-text, body .ui-megamenu .ui-menuitem-link:hover .ui-menuitem-text, body .ui-slidemenu .ui-menuitem-link:hover .ui-menuitem-text{
  color: #404040;
  font-weight: 700;
}
body .ui-menubar .ui-menuitem.ui-menuitem-active > .ui-menuitem-link .ui-menuitem-text{
  color: #404040;
  font-weight: 700;
}
body .ui-menubar .ui-menuitem.ui-menuitem-active > .ui-menuitem-link{
  background-color: transparent;
}
.wrap-footer-form .mat-form-field-appearance-legacy .mat-form-field-label{
  color:#999;
}

.socIcons{
  width:100%;
  padding: 20px 0 0 0;
}
.socIcons ul{
    display: flex;
    justify-content: space-between;
    padding-left: 0px; 
}
.socIcons ul li{
  display: inline-block;
}
.socIcons .fa{
  color:gray;
  font-size: 2em;
}
.socIcons .fa-instagram:hover{
    color:#C3206F;
}
.socIcons .fa-twitter:hover{
    color: #4169E1;
}
.socIcons .fa-facebook:hover{
    color: #4267B2;
}
.socIcons .fa-youtube:hover{
  color:#D0212C;
}

.button-img{
  display: flex;
  justify-content: space-around;
}

@media screen and (min-width: 1024px){
  .mobile-logo > img{
    width:120px;
  }
}

/*mobile css*/
  @media screen and (max-width: 1024px){
    .button-img{
        flex-direction: column;
    }
    .button-img > span{
        margin: 10px 0;
    }
  span.imgTitle{
    font-size: 1rem !important;
}
  .main-image-container #current-figure figcaption {
    font-size: 1rem;
}
  .wrap-all-component{
    margin-top: 20vh;
  }
  .mat-stepper-vertical-line::before {
    border-right-style: none;
  }
  .mat-vertical-stepper-header .mat-step-icon{
    display: none;
}
.dateFromToWrap > div:last-child button{
  margin-top:-5px;
  margin-bottom:10px;
}

  .dateFromToWrap{
      flex-direction: column;
  }
  .mat-expansion-panel-body{
      padding: 0 !important;
  }
  button:hover, div.submitButton > button{
    cursor: pointer;
  }
  input{
    height: 17px;
  }
  .paginationUL li > a {
    padding: 10px  9px !important;
  }
  .paginationUL{
    padding-left:0;
  }
}