.button-submit > button{
    background: tomato;
    color: #fff;
}
.button-select > button{
    background: lightslategrey;
    color :#fff;
}
.wrap-img-add-edit img{
    width: 250px;
    height: auto;
    padding: 2rem;
    border: 1px solid #DFDFDF;
    border-radius: 5p
}



mat-spinner{
    top: -94%;
    left: 45%;
    position: absolute;
    z-index: 9999999;
  }
  .button-submit{
    position: relative;
    margin:20px;
}
.wrap-buttons{
    display: flex;
}
.flex-form-wrap{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex-child{
    width:50%;
    margin: auto;
    padding:2em;
}
.mat-form-field{
    width:100%;
}

@media screen and (max-width: 1024px){
    .flex-child{
        width:100%;
    }
}